*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
    height: 100vh;
}

.chat-header {
    display: flex;
    align-items: center;
    height: 10%;
    background-color: #d9c80a;
}

.chat-header-content {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 25px;
}

.chat-header-content img {
    margin-right: 15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.chat-messages {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
    min-height: 80%;
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 25px;
    /* background-color: gray; */
}

.chat-messages div {
    margin-top: 20px;
    padding: 12px;
    max-width: 80%;
    border-radius: 10px;
    text-align: justify;
    overflow-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #74d10a;
    position: relative;
}

.user-message::after {
    content: '';
    border: 12px solid transparent;
    border-left-color: #74d10a;
    position: absolute;
    top: 20%;
    right: -24px;
    width: 0;
    height: 0;
}

.bot-message {
    align-self: flex-start;
    background-color: #e28c0b;
    position: relative;
    margin-left: 50px;
}

.bot-message::before {
    content: '';
    border: 12px solid transparent;
    border-right-color: #e28c0b;
    position: absolute;
    top: 20%;
    left: -24px;
    width: 0;
    height: 0;
}

.bot-message::after {
    content: '';
    /* padding: 1.75%; */
    position: absolute;
    top: 10%;
    left: -60px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('../res/drbyte.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

/* .bot-footer {
    border: 2px solid blue;
    background-color: blue;
} */

.bot-footer * {
    height: 45px;
    font: inherit;
    font-size: 16px;
}

.bot-footer input {
    width: 90%;
    margin-right: -5px;
    padding-left: 10px;
}

.bot-footer button {
    width: 10%;
}